@{
    ViewBag.Title = "About Us";
}
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;">
                ABOUT FOODREADY.NET
            </h1>
        </div>
    </div>
</div>
<div class="container toppadding">
    <b>What is Foodready.net?</b><p>
        Foodready.net provides an easy, fast and secure online food ordering service of
        take-out and delivery food from your local restaurants. Our fast-growing network
        of online restaurants offers a wide selection of menus and over 100 cuisines from
        popular Chinese, Pizza, Japanese, and American menus to exotic Mexican, Italian,
        Thai and Spanish. Our online food ordering service makes it easy to access your
        favorite restaurants and menus in our database. By entering your location, selecting
        a restaurant, reading its review and menu, choosing your food and placing order,
        your order is instantly sent to the restaurant for delivery or pickup. Foodready.net
        makes food ready that esay!
    </p>
    <b>Who We Are</b>
    <p>
        We are a company of young, energetic, and highly motivated people. Foodready.net
        is driven by a core management team composed of seasoned industry professionals.
        We believes a restaurant should focus its energy on things that a restaurant does
        best - which is making a great meal. We also believe that users should be able to
        find restaurants easily, compare them, and place orders from those restaurants -
        all in one place.
    </p>
</div>
