@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;">
                Privacy Policy
            </h1>
        </div>
    </div>
</div>
<div class="container toppadding">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div style="text-align:justify;">
                <p>
                    We are concerned about privacy issues and want you to be familiar with how we collect,
                    use and disclose Personally Identifiable Information (as defined below). This Privacy
                    Policy describes our practices in connection with privacy and the Personally Identifiable
                    Information that we collect through this website (foodready.net), the related mobile
                    sites and mobile application(s), and selected other domains (the "Sites"). Except
                    as indicated below, this Privacy Policy does not address the collection, use or
                    disclosure of information by any of our affiliates or by other third parties on
                    any websites other than the Sites.
                </p>
                <p>
                    The information we collect through registration and order placement is used
                    to provide the services specified on our Web site. We store information such as
                    page views, computer IP addresses and other statistics in the form of logs. These
                    logs are used solely to enhance the technical performance of our Web site.
                <p>
                    By using the www.foodready.net website you (the ''User'') agree to these terms and
                    conditions of this Privacy Policy. If you do not agree to the terms and conditions
                    of this Agreement, you should immediately cease all usage of this website. We reserve
                    the right, at any time, to modify, alter, or update the terms and conditions of
                    this agreement without prior notice. Modifications shall become effective immediately
                    upon being posted at www.foodready.net.
                </p>
                <p>
                    <b>Personally Identifiable Information</b><br />
                    In order to process your food order and access certain pages, we must collect and
                    share the following information every time you place an order with a restaurant:
                    your name, e-mail address, delivery address, phone number, food order and credit
                    card information.
                </p>
                <p>
                    <b>Customer Communication</b><br />
                    Our customer service representatives may use your telephone number or e-mail address
                    to notify you of the status of your order as necessary and appropriate. We do not
                    share your information with any third parties, except the local restaurant as stated
                    above.
                </p>
                <p>
                    <b>Cookies</b><br />
                    A cookie is a small piece of data that is sent by foodready.net to your Internet
                    browser and stored on your computer's hard drive, and that delivers information
                    about you and your activity on the Sites. Cookies allow our users to order faster
                    and more efficiently by storing information such as your email address. We do not
                    use cookies to track your surfing habits and activities outside of our Web site.
                    Cookies can be easily and safely deleted from your system. See you browser's help
                    section for instructions.
                </p>
                <p>
                    <b>Policy Changes</b><br />
                    If our information practices change at some time in the future we will post the
                    policy changes to our Web site to notify you of these changes and provide you with
                    the ability to opt out of these new uses. If you are concerned about how your information
                    is used, you should periodically check this section of our Web site.
                </p>
            </div>
        </div>
    </div>
</div>
