@{
    ViewBag.Title = "Terms Of Use";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;">
                Terms of Use
            </h1>
        </div>
    </div>
</div>
<div class="container toppadding">
    <div class="row">
        <div class="col-sm-12 col-md-12">
                <div style="text-align:justify;">
                    <p>
                        This Terms and Conditions Agreement sets forth the standards of use of the Food
                        Ready USA, Inc., foodready.net Online Service. By using the www.foodready.net website
                        you (the ''User'') agree to these terms and conditions. If you do not agree to the
                        terms and conditions of this Agreement, you should immediately cease all usage of
                        this website. We reserve the right, at any time, to modify, alter, or update the
                        terms and conditions of this agreement without prior notice. Modifications shall
                        become effective immediately upon being posted at www.foodready.net. Your continued
                        use of the Service after amendments are posted constitutes an acknowledgement and
                        acceptance of the Agreement and its modifications. Except as provided in this paragraph,
                        this Agreement may not be amended.
                    </p>
                    <p>
                        <b>REGISTRATION</b><br />
                        Each User must provide the following information to register with us or to place
                        an Order: name (no pseudonyms or made-up names), email address, phone number and your addredd.
                        Each User must provide United States credit or debit card information when they
                        choose to pay by credit card for the order online Each User shall be given an alias
                        ("User Name") and password ("Password") to access your account ("Account"). Unless
                        and until you tell us otherwise, we will assume that any person using your Account
                        is authorized to do so on your behalf. Each User must be 18 years of age or older.
                        We may, in our sole discretion, verify the information you provide to us. We may,
                        in our sole discretion, restrict use of the Website until we verify your information.
                    </p>
                    <p>
                        <b>TERMS OF PURCHASE</b><br />
                        You agree to pay all fees and charges incurred in connection with your purchases
                        including any applicable taxes. The final charges for your order may be different
                        than those stated on the website. Foodready.net does not assume any responsibility
                        or liability for the actions, products, and content of any third parties related
                        to the creation or delivery of your order. We may require additional verification
                        or information before accepting any order.
                    </p>
                    <p>
                        <b>RETURN POLICY</b><br />
                        You may cancel any Order (with the exception of "A.S.A.P." Orders, which may not
                        be cancelled) at any time until two (2) hours before the scheduled time for delivery
                        of the Order by calling 510-512-6789. Upon cancellation, foodready.net will refund
                        the total price of the Order to the User, to the credit or debit card used to place
                        the Order.
                    </p>
                    <p>
                        <b>USE OF SITE</b><br />
                        By accessing this Web site you are agreeing to all of the terms, conditions, and
                        statements included in this legal statement. The entirety of this site or any portion
                        of this site may not be reproduced, duplicated, copied, sold, resold, or otherwise
                        exploited for any commercial purpose that is not expressly permitted by foodready.net.
                        The foodready.net site may not be linked to any other site without prior consent
                        of foodready.net. foodready.net and its affiliates reserve the right to refuse service,
                        terminate accounts, and/or cancel orders at its discretion, including, without limitation,
                        if foodready.net believes that customer conduct violates applicable law, disrupts
                        our normal business activities or is harmful to the interests of foodready.net and
                        its affiliates. You hereby represent, warrant and covenant to us, that you shall:
                        (1.) Provide true, accurate, current and complete information. (2.) Maintain and
                        promptly amend all information to keep it true, accurate, current and complete.
                    </p>
                    <p>
                        <b>DISCLAIMER</b><br />
                        THE WEBSITE, THE GOODS AND THE SERVICES, INCLUDING ALL ORDERS, ARE PROVIDED
                        TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS. FOODREADY.NET USA, Inc., ITS AFFILIATES,
                        OFFICERS, EMPLOYEES, AGENTS, PARTNERS, LICENSORS, AND THE RESTAURANTS EXPRESSLY
                        DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT
                        NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                        PURPOSE AND NON-INFRINGEMENT. FOODREADY.NET, ITS AFFILIATES, OFFICERS, EMPLOYEES,
                        AGENTS, PARTNERS, LICENSORS, AND THE RESTAURANTS MAKE NO WARRANTY (1.) THAT THE
                        SERVICES, THE ORDERS, THE GOODS OR THE WEBSITE WILL MEET YOUR REQUIREMENTS; (2.)
                        THAT THE SERVICES, THE ORDERS, THE GOODS OR THE WEBSITE WILL BE UNINTERRUPTED, TIMELY,
                        SECURE OR ERROR-FREE; (3.) THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF
                        SUCH SERVICES, ORDERS OR THE WEBSITE WILL BE ACCURATE OR RELIABLE; (4.) THAT THE
                        QUALITY OF ANY ORDERS, OR ANY GOODS, SERVICES, INFORMATION OR OTHER ITEMS PURCHASED
                        OR OBTAINED BY YOU THROUGH THE SERVICE, OR THROUGH ANY ADVERTISERS OR PARTNERS,
                        INCLUDING ANY FOOD, WILL MEET YOUR EXPECTATIONS; (5.) THAT THE PRICES DISPLAYED
                        ON THE WEBSITE AND DISCOUNTS PROVIDED THROUGH THE WEBSITE WILL BE HONORED BY ANY
                        RESTAURANTS, OR (6.) REGARDING ANY RESTAURANTS OR CUSTOMERS. ANY MATERIAL, INFORMATION
                        OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE, THE GOODS
                        OR THE WEBSITE IS ACCESSED BY YOU AT YOUR SOLE OWN DISCRETION AND RISK, AND YOU
                        ALONE WILL BE RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, LOSS OF DATA OR
                        OTHER OUTCOME THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ORDERS, DATA,
                        ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED OR RECEIVED BY YOU FROM
                        MENU, THE WEBSITE OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT
                        EXPRESSLY STATED IN THESE TERMS.
                    <p>
                        Product specifications and other information have either been provided by the Restaurants
                        or collected from publicly available sources. While foodready.net makes every effort
                        to ensure that the information on this website is accurate, we can make no representations
                        or warranties as to the accuracy or reliability of any information provided on this
                        website.
                    </p>
                    <p>
                        Foodready.net makes no warranties or representations whatsoever with regard to any
                        product provided or offered by any Vendor, and you acknowledge that any reliance
                        on representations and warranties provided by any Restaurant shall be at your own
                        risk.
                    </p>
                    <p>
                        <b>LIMITATION OF LIABILITY</b><br />
                        FOODREADY.NET SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, AND IN PARTICULAR
                        FOODREADY.NET SHALL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL
                        DAMAGES, OR DAMAGES FOR LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE, ARISING OUT
                        OF OR RELATED TO THIS WEB SITE OR THE INFORMATION CONTAINED IN IT, WHETHER SUCH
                        DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW, OR
                        OTHERWISE, EVEN IF FOODREADY.NET HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                        SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
                        INCIDENTAL OR CONSEQUENTIAL DAMAGES, THEREFORE SOME OF THE ABOVE LIMITATIONS IS
                        INAPPLICABLE.
                    </p>
                    <p>
                        <b>COPYRIGHT</b><br />
                        This Web site, in its entirety, is the sole property of Foodready.net or its content
                        suppliers and protected by U.S. and international copyright laws. The compilation
                        (meaning the collection, arrangement, and assembly) of all content on this site
                        is the exclusive property of foodready.net. and is protected by U.S. and international
                        copyright laws. All software used on this site is the property of foodready.net.
                        or its affiliates and is protected by U.S. and international copyright laws. The
                        content and software on this Web site may be used as a personal shopping, and e-commerce
                        resource. Any other use, including the reproduction, modification, distribution,
                        transmission, republication, display, or performance of the content on this Web
                        site is strictly prohibited. The application of this Web site, into any other Web
                        site, is strictly prohibited unless pre-approved by foodready.net. By registering
                        with or providing Content to the Website, you grant to us a non-exclusive, royalty-free,
                        transferable, irrevocable and perpetual right to use and reproduce the information,
                        data and content that you provide to us from time to time, such as dining feedback
                        or reviews of Restaurants, other text, photographs, or graphics (collectively, "Content")
                        for use on the Website. We reserve the right, in our sole discretion, to refrain
                        from displaying any Content on the Website. We may delete or dispose of any Content
                        at any time for any reason or for no reason.
                    </p>
                    <p>
                        <b>TRADEMARKS</b><br />
                        Foodready.net USA, Inc. and the foodready.net Logo are registered trademarks of
                        Food Ready USA, Inc., in the United States and other countries. Menunu's trademarks
                        may not be used in connection with any product or service that is not foodready.net,
                        in any manner that is likely to cause confusion among customers or in any manner
                        that disparages or discredits Menunu.
                    </p>
                    <p>
                        <b>INDEMNIFICATION</b><br />
                        User agrees to indemnify and hold foodready.net, its parents, subsidiaries, affiliates,
                        officers and employees, harmless from any claim or demand, including reasonable
                        attorneys' fees and costs, made by any third party due to or arising out of User's
                        use of the Service, the violation of this Agreement, or infringement by User, or
                        other user of the Service using User's computer, of any intellectual property or
                        any other right of any person or entity.
                    </p>
                    <p>
                        <b>GENERAL</b><br />
                        If any provision of this Terms and Conditions Agreement shall be unlawful, void
                        or unenforceable for any reason, the other provisions (and any partially-enforceable
                        provision) shall not be affected thereby and shall remain valid and enforceable
                        to the maximum possible extent. You agree that this Terms and Conditions Agreement
                        and any other agreements referenced herein may be assigned by foodready.net, in
                        our sole discretion, to a third party in the event of a merger or acquisition. This
                        Terms and Conditions Agreement shall apply in addition to, and shall not be superseded
                        by, any other written agreement between us in relation to your participation as
                        a User. User agrees that by accepting this Terms and Conditions Agreement, User
                        is consenting to the use and disclosure of their personally identifiable information
                        and other practices described in our Privacy Policy Statement.
                    </p>
                </div>
            </div>
        </div>
    </div>
