<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="FRWebSettings" type="FR.Infrastructure.Config.FoodReadySection, FR.Infrastructure" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Foodreadynet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <FRWebSettings defaultConnectionStringName="DefaultConnection" appRoot="/" siteDomainName="foodready.net">
    <!-- 
         appRoot="u64119228"  siteDomainName="foodready.net" smtpServer="smtp.foodready.net"
        -->
    <contactForm mailTo="postmaster@foodready.net" mailFrom="jincart@foodready.net" smtpServer="smtp.foodready.net" />
    <articles pageSize="10" facebookUrl="http://www.facebook.com/pages/Red-Dragon-Chinese-Restaurant/170672829625696#!/pages/Red-Dragon-Chinese-Restaurant/170672829625696?sk=wall" akismetKey="[Key]" enableAkismet="True" />
    <polls archiveIsPublic="true" votingLockByIP="false" />
    <payPalSettings sandboxMode="true" businessEmail="baoping.peng@hotmail.com" payPalReceiverEmail="ariel_1302589816_biz@hotmail.com" paypalCertID="ECRHTTBZZA9HL" p12Password="reddragon19590828" pdtToken="Eza2dnvfKdNxihNidbZ9vjJP6iygHYF44HdtnfavfVHul5PvblzG9_dHlju" payPalAPIVersion="63.0" payPalAPIUsername="6AHZhILcZKEQzv4rZKE4ilM6yaQReHfahx50LUUywNBIKnv6tkXmYItibpJQA/cB" payPalAPIPassword="PfwDXjzvgcohFxGJ7yCqHw==" payPalAPISignature="L7ScVPyP0KSWVyZDIWgXWwKRg/ttoafncBGq8qjYLi5M4nMvPl2QVVHcEVil9mny46tbZpEzQRa6xUyl7EuIKw==" environment="sandbox" />
  </FRWebSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-N8EP2VA\SQLEXPRESS;Initial Catalog=foodready;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FRShoppingEntities" connectionString="metadata=res://*/Entities.FRShoppingModel.csdl|res://*/Entities.FRShoppingModel.ssdl|res://*/Entities.FRShoppingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n8ep2va\sqlexpress;initial catalog=foodready;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="groupTip" value="0.15" />
    <add key="serviceCharge" value="0.00" />
    <add key="productIncreasement" value="1.00" />
    <add key="defaultTaxRate" value="8.5" />
    <add key="rewardRate" value="0.008" />
    <add key="dollarToPoints" value="5" />
    <add key="rvDays" value="7" />
    <add key="facebookAppID" value="223539567801663" />
    <add key="facebookAppSecret" value="3a6d2b0e44b11dfced5a659739652674" />
    <add key="facebookContactEmail" value="baoping_peng@hotmail.com" />
    <add key="facebookAppDomains" value="localhost" />
    <add key="ConsumerKey" value="81T0zHwxGroicBDwvFCeg" />
    <add key="ConsumerSecret" value="KujwNVSGNWrvg5bdAMvVUwVdtCJztV01bFeCBpXo5V0" />
    <add key="GoogleMapsAPIKey" value="AIzaSyDKiEdbCcINToyXHXIFFkh-jf2AUe_NHz8" />
    <add key="RecaptchaPrivateKey" value="6LdlCOYSAAAAAFp6CC9uS-Budugkc4a6XzKU2d-A" />
    <add key="RecaptchaPublicKey" value="6LdlCOYSAAAAAI2G67fNIwX6rDeniOxFwjTMuPCN" />
    <add key="YELP_ACCESS_TOKEN" value="VOpRLRif43L1tUztWKH7uEdyoR41gVjc" />
    <add key="YELP_ACCESS_TOKEN_SECRET" value="dh243RLOCaKd2ZimaUNLFSxTsBg" />
    <add key="YELP_CONSUMER_KEY" value="QJ-ETpVCIxs8Vm2DXdpn0g" />
    <add key="YELP_CONSUMER_SECRET" value="kvkTX2nWNbce_IkgaDQe-TJbjt8" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VXProfitPercentage" value="0.15" />
    <add key="OnlineFaxUserName" value="foodready" />
    <add key="OnlineFaxPassword" value="foodready888" />
    <add key="OnlineFaxNumber" value="9256829889" />
    <add key="ServicePhone" value="1-510-512-6869" />
    <add key="ServiceFax" value="1-510-512-6869" />
    <add key="net.interfax.ws.dfs" value="http://ws.interfax.net/dfs.asmx" />

  <add key="UserLockoutEnabledByDefault" value="true" />
  <add key="DefaultAccountLockoutTimeSpan" value="10" />
  <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />
    
  <add key="owin:AppStartup" value="IdentitySample.Startup,Foodreadynet" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" cookieless="UseCookies" />
    </authentication>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="jincartweb@foodready.net">
        <network host="smtp.foodready.net" userName="jincart@foodready.net" password="jincartpbp" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Foodreadynet.Properties.Settings>
      <setting name="Foodreadynet_net_interfax_ws_InterFax" serializeAs="String">
        <value>http://ws.interfax.net/dfs.asmx</value>
      </setting>
    </Foodreadynet.Properties.Settings>
  </applicationSettings>
</configuration>