@model FoodReady.WebUI.Models.SubMenuViewModel
@using FR.Infrastructure.Helpers
<div id="swrap" style="float: left;">
    <div id="snavFloating">
        <div class="bubbleInfo">
            <div class="popup">
                @Html.Partial("_ShareMenuSectionPartial", Model)
            </div>
        </div>
    </div>
</div>
