@model FoodReady.WebUI.Models.GroupInfoModel
<div id="popupbody1">
    <div class="modal-header">
        <h5 id="poptitle" class="modal-title" style="color:black;text-align:center;">Select a restaurant to start your group order.</h5>
    </div>
    <div class="modal-body">
        <p>@Model.Name, you are going to start a new group shopping cart and invite others to join the group ordering. You will be the only payer of the cart and do checkout at the end of group order.</p>
        @foreach (var b in Model.LBizInfo)
        {
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <img src="@Url.Content("~/Content/BizImages/" + b.ImageUrl)" class="bizImg boxShadow boxCorner" />
                </div>
                <div class="col-sm-10 col-md-10">
                    @Html.ActionLink(b.BizTitle, "GoGroup", "Group", new { name = Model.Name, address = Model.Address, zip = Model.ZipCode, maxorder = Model.MaximumOrder, bizid = b.BizInfoId }, null)<br />
                    @Html.Raw(b.BizTwoLineAddressString)
                </div>
            </div>
        }
    </div>
</div>