@{
    ViewBag.Title = "Appreciate";
}
<div class="checkoutTitle boxShadow">
    <div>
        <p>
            @TempData["sendmsg"]
        </p>
        <p>
            <a href="/Home" class="Link12">Continue</a></p>
    </div>
</div>
