@model FR.Domain.Model.Entities.BizInfo
@using FoodReady.WebUI.HtmlHelpers
<div style="float:left;">
    @Html.PrintLunchSchedule(Model,true)
    </div>
    <div style="float:left;">
    @Html.PrintDinnerSchedule(Model,true)
    </div>



