@model FoodReady.WebUI.Models.GroupInfoModel
<div class="container toppadding">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>
                @Model.Name, look like you want to be back to @Model.Cart.BizName. Currently, your group shopping is locked by @Model.Cart.BossName. Please wait untill the shopping is unlocked.
            </p>
        </div>
    </div>
</div>
